* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logos{
    width: 80%;
    display: flex;
    margin: auto;
    overflow: hidden;
    background: white;
    white-space: nowrap;
    position: relative;
  
}

.logos-slide {
    animation: 30s slide infinite linear;
    img {
        height: 80px;
        margin: 0px 30px
    }
}

.logos::after{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background: linear-gradient(to right,rgba(255, 255, 255, 0), rgba(255, 255, 255));
    content: " ";
    z-index: 1;
}

/* Animation */

@keyframes slide {
 from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}